body {
  font-size: 14px;
  line-height: 20px;
  color: $black;
  font-family: Montserrat, sans-serif;
}

.container {
  width: 100% !important;
  padding-left: 8vh;
  padding-right: 8vh;
  @include r(767) {
    padding: 0 20px;
  }
}

.bg_purple {
  background-color: $purple;
}

.content {
  img {
    display: block;
    margin: 0 auto 46px;
  }

  h1 {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 16px;
  }

  h4, h3 {
    margin-bottom: 17px;
  }

  h6, h5 {
    margin-bottom: 14px;
  }

  ol,
  ul {
    margin-bottom: 32px;
  }

  li {
    margin-bottom: 16px;
    
    font-size: 14px;
    line-height: 20px;
  }

  ul {
    li {
      position: relative;
      padding-left: 18px;

      &:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        @include size(10px);
        border-radius: 50%;
      }
    }
  }

  a {
    
  }

  ol {
    counter-reset: myCounter;

    li {
      position: relative;
      padding-left: 20px;

      &:before {
        counter-increment: myCounter;
        content: counter(myCounter) ". ";
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

blockquote {
  border-left: 8px solid #121314;
  background-color: #F3F4FF;
  padding: 16px 24px 16px 22px;
  margin: 0 0 24px;
}

*:focus {
  outline: none !important;
}

h1, h2, h3, h4, h4, h6, .h1-title, .h2-title, .h3-title, .h4-title, .h5-title, .h6-title {
  display: block;
  @include fb;
  
}

h1, .h1-title {
  @include css-lock(40, 48, 480, 1920);
  line-height: 44px;
  @include rmin(1200) {
    line-height: 52px;
  }
}

h2, .h2-title {
  @include css-lock(30, 32, 480, 1920);
  line-height: 34px;
  @include rmin(1200) {
    line-height: 44px;
  }
}

h3, .h3-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  color: $purple;
  @include r(1200) {
    font-size: 32px;
    line-height: 110%;
  }
  @include r(767) {
    font-size: 26px;
  }
}

h4, .h4-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 110.5%;
  color: $purple;
  letter-spacing: -0.015em;
  @include r(1023) {
    font-size: 20px;
  }
}

h5, .h5-title {
  @include css-lock(16, 20, 480, 1920);
  line-height: 22px;
  @include rmin(1200) {
    line-height: 24px;
  }
}

h6, .h6-title {
  @include css-lock(14, 16, 480, 1920);
  line-height: 20px;
}

.subtitle-large__mod {
  font-size: 16px;
  line-height: 1.3;
}

.subtitle-medium__mod {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $purple;
  @include r(1024) {
    font-size: 16px;
  }
  @include r(767) {
    font-size: 14px;
  }
}

.subtitle-small__mod {
  font-size: 13px;
  line-height: 16px;
}

.subtitle-large__mod,
.subtitle-medium__mod,
.subtitle-small__mod {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  padding-top: 64px;
  flex: 1 0 auto;
}

.under-link {
  text-decoration: underline;
  color: inherit;
  font-weight: 500;
  @include r(767) {
    font-size: 10px;
    line-height: 115.4%;
  }
}