<header>
    <div class="container">
        <div class="header__row">
            <div class="header__left">
                <a href="" class="header__logo">
                    <img src="images/logo.svg" alt="">
                </a>
                <nav>
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="" class="nav__link">Contents</a>
                        </li>
                        <li class="nav__item">
                            <a href="" class="nav__link">Photos</a>
                        </li>
                        <li class="nav__item">
                            <a href="" class="nav__link">Tools</a>
                        </li>
                        <li class="nav__item">
                            <a href="" class="nav__link">Logos <span class="nav-status nav-status_red">New</span></a>
                        </li>
                        <li class="nav__item">
                            <a href="" class="nav__link">+UPLOAD</a>
                        </li>
                    </ul>
                    <a href="" class="btn button-2">Upgrade to Premium</a>
                </nav>
            </div>
            <div class="header__right">
                <div class=""></div>
            </div>
        </div>
    </div>
</header>