<div class="pagination-block">
  <span class="pagination-text">Показать еще 12 товаров</span>
  <ul class="pagination">
    <li class="disable prev-page pagination__item-btn">
      <span class="pagination__btn">
        <span class="icon icon-arrow-left"></span>
      </span>
    </li>
    <li class="pagination__item active">
      <span class="pagination__link">1</span>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">2</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">3</a>
    </li>
    <li class="pagination__dots"><span>...</span></li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">94</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">95</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">96</a>
    </li>
    <li class="next-page pagination__item-btn">
      <a class="pagination__btn" href="#">
        <span class="icon icon-arrow-right"></span>
      </a>
    </li>
  </ul>
</div>